<nav id="navbar" class="py-2">
	<div class="container">
		<a href="/">
			<h1 class="brand">{{ shared.app_info.name }}</h1>
		</a>
		<button
			data-tooltip="Open navigation menu"
			onclick="openAppDrawer()"
			aria-label="Open navigation menu"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				fill="currentColor"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
				/>
			</svg>
		</button>
	</div>
</nav>
