:root {
	/* Colors */
	--fg: #222;
	--bg: #fff;
	--accent: #007bff;
	--accent-hover: #0056b3;
	--danger: #dc3545;
	--danger-hover: #c82333;
	--border-color: #ccc;
	--border-color-focus: #111;
	--table-hover: #00000020;
	--underlay: #00000050;
	--muted: #666;
	/* Fonts */
	--font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	/* Spacing */
	--default-spacing: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	background-color: var(--bg);
	color: var(--fg);
	min-height: 100dvh;
	line-height: 1.25;
}

main {
	padding: var(--default-spacing) 0;
	height: 100%;
}

#app_drawer {
	position: fixed;
	top: 0;
	right: 0;
}

nav#navbar {
	width: 100%;
	background: var(-bg);
	color: var(--fg);
	padding: 8px 0;
}

nav#navbar h1 {
	font-size: 1.2rem;
}

nav#navbar a {
	color: inherit;
	text-decoration: none;
}

nav#navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 var(--default-spacing);
}

.card {
	padding: var(--default-spacing);
	background: var(--bg);
	border-radius: 12px;
	border: 1px solid var(--border-color);
}

footer#footer {
	margin-top: auto;
	text-align: center;
	width: 100%;
	color: var(--fg);
	background: var(--bg);
	border-top: 1px solid var(--border-color);
	font-size: 0.9rem;
	padding: 8px 0;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--default-spacing);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: var(--default-spacing);
}

.gap-1 {
	gap: calc(var(--default-spacing) / 4);
}

.gap-2 {
	gap: calc(var(--default-spacing) / 2);
}

.items-center {
	align-items: center;
}

h1,
h2,
h3 {
	font-weight: 900;
}

form .form-control,
form .form-control label {
	display: block;
	width: 100%;
}

form .form-control label {
	font-weight: 900;
	margin-bottom: 2px;
}

input[type="checkbox"] {
	width: fit-content;
}

input,
textarea,
select {
	padding: 8px;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	font-size: 1rem;
	width: 100%;
	background: var(--bg);
}

select:focus,
textarea:focus,
input:focus {
	outline: 0;
	border-color: var(--border-color-focus);
}

a:link,
a:visited,
button.link {
	text-decoration: underline;
	color: var(--accent);
	font-weight: normal;
}

ul,
ol {
	list-style-type: none;
}

ul.styled {
	list-style-type: disc;
	margin-left: 2rem;
}

ol.styled {
	list-style-type: decimal;
	margin-left: 2rem;
}

.muted {
	color: var(--muted);
}
