:root {
	/* Colors */
	--fg: #222;
	--bg: #fff;
	--accent: #0751cf;
	--accent-hover: #0751cf;
	--danger: #dc3545;
	--danger-hover: #c82333;
	--border-color: #ccc;
	--border-color-focus: #111;
	--table-hover: #00000010;
	--underlay: #00000050;
	--muted: #666;
	/* Fonts */
	--font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	/* Spacing */
	--default-spacing: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	background-color: var(--bg);
	color: var(--fg);
	min-height: 100dvh;
	line-height: 1.25;
}

main {
	padding: var(--default-spacing) 0;
	height: 100%;
}

#app_drawer {
	position: fixed;
	top: 0;
	right: 0;
}

nav#navbar {
	width: 100%;
	background: var(-bg);
	color: var(--fg);
	padding: 8px 0;
}

nav#navbar h1 {
	font-size: 1.2rem;
}

nav#navbar a {
	color: inherit;
	text-decoration: none;
}

nav#navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 var(--default-spacing);
}

.card {
	padding: var(--default-spacing);
	background: var(--bg);
	border-radius: 12px;
	border: 1px solid var(--border-color);
}

footer#footer {
	margin-top: auto;
	text-align: center;
	width: 100%;
	color: var(--fg);
	background: var(--bg);
	border-top: 1px solid var(--border-color);
	font-size: 0.9rem;
	padding: 8px 0;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--default-spacing);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: var(--default-spacing);
}

.gap-1 {
	gap: calc(var(--default-spacing) / 4);
}

.gap-2 {
	gap: calc(var(--default-spacing) / 2);
}

.items-center {
	align-items: center;
}

h1,
h2,
h3 {
	font-weight: 900;
}

form .form-control,
form .form-control label {
	display: block;
	width: 100%;
}

form .form-control label {
	font-weight: 900;
	margin-bottom: 2px;
}

input[type="checkbox"] {
	width: fit-content;
}

input,
textarea,
select {
	padding: 8px;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	font-size: 1rem;
	width: 100%;
	background: var(--bg);
}

select:focus,
textarea:focus,
input:focus {
	outline: 0;
	border-color: var(--border-color-focus);
}

a:link,
a:visited,
button.link {
	text-decoration: underline;
	color: var(--accent);
	font-weight: normal;
}

ul,
ol {
	list-style-type: none;
}

ul.styled {
	list-style-type: disc;
	margin-left: 2rem;
}

ol.styled {
	list-style-type: decimal;
	margin-left: 2rem;
}

.muted {
	color: var(--muted);
}

#app_drawer_underlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: var(--underlay);
	z-index: 40;
}

#app_drawer {
	display: flex;
	height: 100%;
	width: 80%;
	max-width: 396px;
	padding: var(--default-spacing);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	z-index: 50;
	background: var(--bg);
}

#modal_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation-name: fadeIn;
	animation-duration: 150ms;
	animation-timing-function: ease;
	width: 100%;
}

#modal_wrapper.closing {
	animation-name: fadeOut;
	animation-duration: 150ms;
	animation-timing-function: ease;
}

#modal_wrapper.closing > #modal {
	animation-name: zoomOut;
	animation-duration: 150ms;
	animation-timing-function: ease;
}

#modal_wrapper .underlay {
	position: fixed;
	background: var(--underlay);
	height: 100%;
	width: 100%;
	z-index: -1;
}

#modal_wrapper #modal {
	margin: 32px;
	width: calc(100% - 32px);
	max-width: 480px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
	max-height: calc(100% - 6rem);
}

#modal-content header {
	margin-bottom: 8px;
}

.tooltip {
	position: absolute;
	background: #000000dd;
	color: #fff;
	padding: 6px 10px;
	border-radius: 4px;
	max-width: 300px;
	z-index: 1000;
	pointer-events: none;
	opacity: 0;
	text-align: center;
	font-size: 0.9rem;
}

.tooltip.show {
	opacity: 1;
}

.line-clamp-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.flag {
	border: 1px solid var(--border-color);
}

img {
	flex-shrink: 0;
}

img.avatar {
	border-radius: 100%;
	border: 1px solid var(--border-color);
}

table {
	max-width: 100%;
	width: 100%;
	border-collapse: collapse;
	cursor: default;
}

table thead {
	border-bottom: 2px solid var(--border-color);
}

table tbody tr:hover {
	background: var(--table-hover);
}

table tbody tr td,
table thead tr th {
	text-align: left;
	padding: 8px 4px;
}

table tbody tr td {
	border-bottom: 1px solid var(--border-color);
}

table caption {
	padding: 4px 0;
	caption-side: bottom;
	text-align: right;
	font-size: 0.9rem;
	color: #555;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}
