<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ shared.app_info.name }} | Homepage</title>
        <meta name="description" content="A template application." />
        <link rel="canonical" href="{{ shared.app_info.website_url }}" />
        {% include "_partials/meta.html" %}
        {% include "_partials/scripts.html" %}
    </head>
    <body>
        {% include "_partials/navbar.html" %}
        <main>
            <div class="container">
                <section class="card">
                    <h1>Welcome to {{ shared.app_info.name }}!</h1>
                </section>
            </div>
        </main>
        {% include "_partials/footer.html" %}
    </body>
</html>
