<!doctype html>
<html lang="en">
	<head>
		<title>{{ shared.app_info.name }} | Homepage</title>
		<meta name="description" content="A template application." />
		<link rel="canonical" href="{{ shared.app_info.website_url }}" />
		{% include "_partials/meta.html" %} {% include "_partials/scripts.html" %}
	</head>
	<body>
		{% include "_partials/navbar.html" %}
		<main>
			<div class="container">
				<section class="card flex-col">
					<h1>Welcome to {{ shared.app_info.name }}!</h1>
					<p>
						This is a template axum application that provides a starting point for
						building web applications using the Axum framework. We use it at Bytebury to
						build web applications for our clients.
					</p>
					<p>
						We support web applications out of the box. In addition, we provide some helpful
						components for you to use, including:
						<ul class="styled">
							<li>Tooltips</li>
							<li>Modals</li>
							<li>App Drawers</li>
						</ul>
					</p>
				</section>
			</div>
		</main>
		{% include "_partials/footer.html" %}
	</body>
</html>
